#firebaselogin {
    background: #24C6DC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1em;
  
  }
  
  
  
  #firebaselogin input[type="email"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
  }
  
  #firebaselogin input[type="password"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
  }
  #firebaselogin input[type="email"]:focus,
  #firebaselogin input[type="password"].focus {
    border-bottom: solid 2px #969696;
  }
  
  #firebaselogin button {
    font-size: 30px;
    background: rgb(91, 36, 220); /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #514A9D , #24C6DC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #514A9D , #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 10px;
  
  }
  
  #firebaselogin button:hover, #firebaselogin button:active{
    background: rgb(91, 36, 220); /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgb(74, 60, 224) , rgb(36, 137, 220)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,rgb(74, 60, 224) , rgb(36, 137, 220));
  }
  #firebaselogin p{
    color: orange;
    text-decoration: underline;
  }
  
  #firebaselogin .hide{
    display: none;
  }
  